/****** Object:  StoredProcedure [dbo].[PayRep1]    Script Date: 05/25/2019 3:37:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PayRep1]
   @D1 AS VARCHAR(20),
   @D2 AS VARCHAR(20)
AS

BEGIN

/*
20190525 : add bonus_others

*/
--   PRINT @D1
--   PRINT @D2

update dbo.dtaemployees
set ytd_13thmo =
(
select sum(isnull(p.m13thmo,0)) from dbo.dtapayrollprocess p
where
p.employee_pin = dtaemployees.employee_pin and
p.period1 between @D1 and @D2
)

update dbo.dtaemployees
set ytd_mp2amount =
(
select sum(isnull(p.mp2_ee,0) + isnull(p.mp2_er,0)) from dbo.dtapayrollprocess p
where
p.employee_pin = dtaemployees.employee_pin and
p.period1 between @D1 and @D2
)

/*
select employee_pin,ytd_13thmo
from dtaemployees
order by employee_pin
*/

--if exists (select * from dbo.sysobjects where id = object_id(N'xPayRep1'))
--drop table dbo.xPayRep1
truncate table dbo.xPayRep1

insert  into xPayRep1
      select p.period1,p.empLoc AS [emp_loc],p.employeeName AS [Employee_Name],p.project AS [primary_task_id],
   isnull(p.positionCode,'') as job_position_code,
   isnull(c.hierarchy,'') as hierarchy,p.employee_pin,
   isnull(p.basic_pay1,0)+isnull(p.basic_pay2,0) as basic_pay,
   isnull(holiday_pay1,0)+isnull(holiday_pay2,0) as holiday_pay,
   isnull(ot_pay2,0) as ot_pay2,isnull(cola2,0) as cola2,
   isnull(day_off_pay2,0) as day_off_pay2,
   isnull(night_diff_pay2,0) as night_diff_pay2,
   isnull(unearned_pay,0) as unearned_pay,
   isnull(bonus_pay2,0) as bonus_pay2,
   isnull(other_earn1,0)+isnull(other_earn2,0)+isnull(other_earn3,0) as other_earn_bef_tax,
   isnull(other_ded1,0)+isnull(other_ded2,0)+isnull(other_ded3,0) as other_ded_bef_tax,
   isnull(gross_pay,0) as gross_pay,isnull(sla_5,0) as sla_5,isnull(sla_10,0) as sla_10,
         isnull(with_tax,0) as with_tax,isnull(sss_ee,0) as sss_ee,
   isnull(philhealth_ee,0) as philhealth_ee,isnull(pagibig_ee,0) as pagibig_ee,
         isnull(other_earn4,0)+isnull(other_earn5,0) as other_earn_after_tax,
         isnull(other_ded4,0)+isnull(other_ded5,0) as other_ded_after_tax,
         isnull(total_ded,0) as total_ded,isnull(net_pay,0) as net_pay,
   isnull(p.atmNumber,'NO ATM') as atm_number,isnull(e.watm,'N') as watm,
   isnull(sss_er,0) as sss_er,isnull(ecc_er,0) as ecc_er,
   isnull(philhealth_er,0) as philhealth_er,isnull(pagibig_er,0) as pagibig_er,
   isnull(m13thmo,0) as m13thmo,isnull(e.ytd_13thmo,0) as ytd_13thmo,
   isnull(ot_holiday,0) as ot_holiday, isnull(nd_holiday,0) as nd_holiday,
   isnull(ot_dayoff,0) as ot_dayoff, isnull(nd_dayoff,0) as nd_dayoff,
   -- total payroll expenses
   (isnull(gross_pay,0)+isnull(sss_er,0)+
   isnull(ecc_er,0)+isnull(philhealth_er,0)+
   isnull(pagibig_er,0)+isnull(m13thmo,0)+
   (isnull(other_earn4,0)+isnull(other_earn5,0))+
   isnull(mp2_er,0))
    as tpay_exp,  

   isnull((reg_hrs2+ot_hrs2),0) as hrsWorked,

   isnull(bonus_uph,0) as bonus_uph,
   isnull(bonus_quality,0) as bonus_quality,
   isnull(bonus_attendance,0) as bonus_attendance,
   isnull(bonus_retention,0) as bonus_retention,
   isnull(sb_cashadvance,0) as sb_cashadvance,

   isnull(mp2_ee,0) as mp2_ee,
   isnull(mp2_er,0) as mp2_er,
   isnull(ytd_mp2amount,0) as ytd_mp2amount,
   isnull(Bonus_PerfectAttendance,0) as Bonus_PerfectAttendance,
   isnull(Bonus_Others,0) as Bonus_Others

      from 
          dbo.dtapayrollprocess p
      left outer join dbo.dtaemployees e
      left outer join dbo.dtacodetables c
         on e.job_position_code = c.code and c.code_category='Job_Position'
      on p.employee_pin = e.employee_pin
      where period1=@D2-- and e.employee_name is not null
      order by p.project,c.hierarchy,p.empLoc,e.employee_name

--select * from xPayRep1
--select sum(ytd_13thmo) from xPayRep1

-- summary report 1 --

--if exists (select * from dbo.sysobjects where id = object_id(N'xPayRep2'))
--drop table dbo.xPayRep2
truncate table dbo.xPayRep2


/*      select primary_task_id,emp_loc,watm,sum(isnull(p.basic_pay,0)) as basic_pay,*/
insert into dbo.xPayRep2
      select primary_task_id,emp_loc,sum(isnull(p.basic_pay,0)) as basic_pay,
         sum(isnull(holiday_pay,0)) as holiday_pay,
         sum(isnull(ot_pay2,0)) as ot_pay,
         sum(isnull(ot_holiday,0)) as ot_holiday_pay,
   sum(isnull(ot_dayoff,0)) as ot_dayoff_pay,
         sum(isnull(cola2,0)) as cola,
   sum(isnull(day_off_pay2,0)) as day_off_pay,
         sum(isnull(night_diff_pay2,0)) as night_diff_pay,
         sum(isnull(nd_holiday,0)) as night_diff_holiday_pay,
   sum(isnull(nd_dayoff,0)) as night_diff_dayoff_pay,
   sum(isnull(unearned_pay,0)) as unearned_pay,
   sum(isnull(bonus_pay2,0)) as bonus_pay,
         sum(isnull(sla_5,0)) as sla_5,
         sum(isnull(sla_10,0)) as sla_10,
         sum(isnull(other_earn_bef_tax,0)) as other_earn_bef_tax,
         sum(isnull(other_ded_bef_tax,0)) as other_ded_bef_tax,
         sum(isnull(gross_pay,0)) as gross_pay,
         sum(isnull(with_tax,0)) as with_tax,
         sum(isnull(sss_ee,0)) as sss_ee,
         sum(isnull(philhealth_ee,0)) as philhealth_ee,
         sum(isnull(pagibig_ee,0)) as pagibig_ee,
         sum(isnull(other_earn_after_tax,0)) as other_earn_after_tax,
         sum(isnull(other_ded_after_tax,0)) as other_ded_after_tax,
         sum(isnull(total_ded,0)) as total_ded,
         sum(isnull(net_pay,0)) as net_pay,
         sum(isnull(sss_er,0)) as sss_er,
         sum(isnull(ecc_er,0)) as ecc_er,
         sum(isnull(philhealth_er,0)) as philhealth_er,
         sum(isnull(pagibig_er,0)) as pagibig_er,
         sum(isnull(m13thmo,0)) as m13thmo,
         sum(isnull(ytd_13thmo,0)) as ytd_13thmo,
   sum(isnull(tpay_exp,0)) as tpay_exp,
   count(*) as no_emp,
   
   sum(isnull(hrsWorked,0)) as hrsWorked,

   sum(isnull(bonus_uph,0)) as bonus_uph,
   sum(isnull(bonus_quality,0)) as bonus_quality,
   sum(isnull(bonus_attendance,0)) as bonus_attendance,
   sum(isnull(bonus_retention,0)) as bonus_retention,
   sum(isnull(sb_cashadvance,0)) as sb_cashadvance,

   sum(isnull(mp2_ee,0)) as mp2_ee,
   sum(isnull(mp2_er,0)) as mp2_er,
   sum(isnull(ytd_mp2amount,0)) as ytd_mp2amount,
   sum(isnull(Bonus_PerfectAttendance,0)) as Bonus_PerfectAttendance,
   sum(isnull(Bonus_Others,0)) as Bonus_Others

      from dbo.xPayRep1 p
      where period1=@D2-- and employee_name is not null
/*      group by primary_task_id,emp_loc,watm
      order by primary_task_id,emp_loc,watm */
      group by primary_task_id,emp_loc
      order by primary_task_id,emp_loc

--select * from xPayRep2
--select sum(ytd_13thmo) from xPayRep2

-- summary report 2 --

--if exists (select * from dbo.sysobjects where id = object_id(N'xPayRep3'))
--drop table dbo.xPayRep3
truncate table dbo.xPayRep3

insert into dbo.xPayRep3
      select emp_loc,watm,sum(isnull(p.basic_pay,0)) as basic_pay,
         sum(isnull(holiday_pay,0)) as holiday_pay,
         sum(isnull(ot_pay2,0)) as ot_pay,
         sum(isnull(ot_holiday,0)) as ot_holiday_pay,
   sum(isnull(ot_dayoff,0)) as ot_dayoff_pay,
         sum(isnull(cola2,0)) as cola,
   sum(isnull(day_off_pay2,0)) as day_off_pay,
         sum(isnull(night_diff_pay2,0)) as night_diff_pay,
         sum(isnull(nd_holiday,0)) as night_diff_holiday_pay,
   sum(isnull(nd_dayoff,0)) as night_diff_dayoff_pay,
   sum(isnull(unearned_pay,0)) as unearned_pay,
   sum(isnull(bonus_pay2,0)) as bonus_pay,
         sum(isnull(sla_5,0)) as sla_5,
         sum(isnull(sla_10,0)) as sla_10,
         sum(isnull(other_earn_bef_tax,0)) as other_earn_bef_tax,
         sum(isnull(other_ded_bef_tax,0)) as other_ded_bef_tax,
         sum(isnull(gross_pay,0)) as gross_pay,
         sum(isnull(with_tax,0)) as with_tax,
         sum(isnull(sss_ee,0)) as sss_ee,
         sum(isnull(philhealth_ee,0)) as philhealth_ee,
         sum(isnull(pagibig_ee,0)) as pagibig_ee,
         sum(isnull(other_earn_after_tax,0)) as other_earn_after_tax,
         sum(isnull(other_ded_after_tax,0)) as other_ded_after_tax,
         sum(isnull(total_ded,0)) as total_ded,
         sum(isnull(net_pay,0)) as net_pay,
         sum(isnull(sss_er,0)) as sss_er,
         sum(isnull(ecc_er,0)) as ecc_er,
         sum(isnull(philhealth_er,0)) as philhealth_er,
         sum(isnull(pagibig_er,0)) as pagibig_er,
         sum(isnull(m13thmo,0)) as m13thmo,
         sum(isnull(ytd_13thmo,0)) as ytd_13thmo,
   sum(isnull(tpay_exp,0)) as tpay_exp,
   count(*) as no_emp,

   sum(isnull(hrsWorked,0)) as hrsWorked,

   sum(isnull(bonus_uph,0)) as bonus_uph,
   sum(isnull(bonus_quality,0)) as bonus_quality,
   sum(isnull(bonus_attendance,0)) as bonus_attendance,
   sum(isnull(bonus_retention,0)) as bonus_retention,
   sum(isnull(sb_cashadvance,0)) as sb_cashadvance,

   sum(isnull(mp2_ee,0)) as mp2_ee,
   sum(isnull(mp2_er,0)) as mp2_er,
   sum(isnull(ytd_mp2amount,0)) as ytd_mp2amount,
   sum(isnull(Bonus_PerfectAttendance,0)) as Bonus_PerfectAttendance,
   sum(isnull(Bonus_Others,0)) as Bonus_Others

      from dbo.xPayRep1 p
      where period1=@D2-- and employee_name is not null
      group by emp_loc,watm
      order by emp_loc,watm

--select * from xPayRep3
--select sum(ytd_13thmo) from xPayRep3

-- Preparation for the Payroll Adjustments Report --
--------------------------------------------------------------
SELECT
   p.period1,p.empLoc AS [emp_loc],p.employeeName AS [employee_name],p.project AS [primary_task_id],
   isnull(p.positionCode,'') as job_position_code,
   isnull(c.hierarchy,'') as hierarchy,e.employee_pin,
   'Earnings Before Tax      ' as Adjustment,
   SUBSTRING(p.Other_Earn_Desc1,1,3) as Code,
   p.Other_Earn_Desc1 as Description,
   p.Other_Earn1 as Amount
INTO #Earn1
FROM
   dbo.dtaPayrollProcess p
    left outer join dbo.dtaemployees e
    left outer join dbo.dtacodetables c
            on e.job_position_code = c.code and c.code_category='Job_Position'
             on p.employee_pin = e.employee_pin
WHERE Period1 = @D2 and
   ISNUMERIC(SUBSTRING(Other_Earn_Desc1,1,3))>0

--------------------------------------------------------------
SELECT
   p.period1,p.empLoc AS [emp_loc],p.employeeName AS [employee_name],p.project AS [primary_task_id],
   isnull(p.positionCode,'') as job_position_code,
   isnull(c.hierarchy,'') as hierarchy,e.employee_pin,
   'Earnings Before Tax      ' as Adjustment,
   SUBSTRING(p.Other_Earn_Desc2,1,3) as Code,
   p.Other_Earn_Desc2 as Description,
   p.Other_Earn2 as Amount
INTO #Earn2
FROM dbo.dtaPayrollProcess p
         left outer join dbo.dtaemployees e
            left outer join dbo.dtacodetables c
            on e.job_position_code = c.code and c.code_category='Job_Position'
         on p.employee_pin = e.employee_pin
WHERE Period1 = @D2 and
   ISNUMERIC(SUBSTRING(Other_Earn_Desc2,1,3))>0

--------------------------------------------------------------
SELECT
   p.period1,p.empLoc AS [emp_loc],p.employeeName AS [employee_name],p.project AS [primary_task_id],
   isnull(p.positionCode,'') as job_position_code,
   isnull(c.hierarchy,'') as hierarchy,e.employee_pin,
   'Earnings Before Tax      ' as Adjustment,
   SUBSTRING(p.Other_Earn_Desc3,1,3) as Code,
   p.Other_Earn_Desc3 as Description,
   p.Other_Earn3 as Amount
INTO #Earn3
FROM dbo.dtaPayrollProcess p
         left outer join dbo.dtaemployees e
         left outer join dbo.dtacodetables c
            on e.job_position_code = c.code and c.code_category='Job_Position'
         on p.employee_pin = e.employee_pin
WHERE Period1 = @D2 and
   ISNUMERIC(SUBSTRING(Other_Earn_Desc3,1,3))>0

--------------------------------------------------------------
SELECT
   p.period1,p.empLoc AS [emp_loc],p.employeeName AS [employee_name],p.project AS [primary_task_id],
   isnull(p.positionCode,'') as job_position_code,
   isnull(c.hierarchy,'') as hierarchy,e.employee_pin,
   'Earnings After Tax       ' as Adjustment,
   SUBSTRING(p.Other_Earn_Desc4,1,3) as Code,
   p.Other_Earn_Desc4 as Description,
   p.Other_Earn4 as Amount
INTO #Earn4
FROM dbo.dtaPayrollProcess p
         left outer join dbo.dtaemployees e
            left outer join dbo.dtacodetables c
            on e.job_position_code = c.code and c.code_category='Job_Position'
         on p.employee_pin = e.employee_pin
WHERE Period1 = @D2 and
   ISNUMERIC(SUBSTRING(Other_Earn_Desc4,1,3))>0

--------------------------------------------------------------
SELECT
   p.period1,p.empLoc AS [emp_loc],p.employeeName AS [employee_name],p.project AS [primary_task_id],
   isnull(p.positionCode,'') as job_position_code,
   isnull(c.hierarchy,'') as hierarchy,e.employee_pin,
   'Earnings After Tax       ' as Adjustment,
   SUBSTRING(p.Other_Earn_Desc5,1,3) as Code,
   p.Other_Earn_Desc5 as Description,
   p.Other_Earn5 as Amount
INTO #Earn5
FROM dbo.dtaPayrollProcess p
         left outer join dbo.dtaemployees e
            left outer join dbo.dtacodetables c
            on e.job_position_code = c.code and c.code_category='Job_Position'
         on p.employee_pin = e.employee_pin
WHERE Period1 = @D2 and
   ISNUMERIC(SUBSTRING(Other_Earn_Desc5,1,3))>0

--------------------------------------------------------------
--------------------------------------------------------------
SELECT
   p.period1,p.empLoc AS [emp_loc],p.employeeName AS [employee_name],p.project AS [primary_task_id],
   isnull(p.positionCode,'') as job_position_code,
   isnull(c.hierarchy,'') as hierarchy,e.employee_pin,
   'Deduction Before Tax     ' as Adjustment,
   SUBSTRING(p.Other_Ded_Desc1,1,3) as Code,
   p.Other_Ded_Desc1 as Description,
   p.Other_Ded1 as Amount
INTO #Ded1
FROM dbo.dtaPayrollProcess p
         left outer join dbo.dtaemployees e
            left outer join dbo.dtacodetables c
            on e.job_position_code = c.code and c.code_category='Job_Position'
         on p.employee_pin = e.employee_pin
WHERE Period1 = @D2 and
   ISNUMERIC(SUBSTRING(Other_Ded_Desc1,1,3))>0

--------------------------------------------------------------
SELECT
   p.period1,p.empLoc AS [emp_loc],p.employeeName AS [employee_name],p.project AS [primary_task_id],
   isnull(p.positionCode,'') as job_position_code,
   isnull(c.hierarchy,'') as hierarchy,e.employee_pin,
   'Deduction Before Tax     ' as Adjustment,
   SUBSTRING(p.Other_Ded_Desc2,1,3) as Code,
   p.Other_Ded_Desc2 as Description,
   p.Other_Ded2 as Amount
INTO #Ded2
FROM dbo.dtaPayrollProcess p
         left outer join dbo.dtaemployees e
            left outer join dbo.dtacodetables c
            on e.job_position_code = c.code and c.code_category='Job_Position'
         on p.employee_pin = e.employee_pin
WHERE Period1 = @D2 and
   ISNUMERIC(SUBSTRING(Other_Ded_Desc2,1,3))>0

--------------------------------------------------------------
SELECT
   p.period1,p.empLoc AS [emp_loc],p.employeeName AS [employee_name],p.project AS [primary_task_id],
   isnull(p.positionCode,'') as job_position_code,
   isnull(c.hierarchy,'') as hierarchy,e.employee_pin,
   'Deduction Before Tax     ' as Adjustment,
   SUBSTRING(p.Other_Ded_Desc3,1,3) as Code,
   p.Other_Ded_Desc3 as Description,
   p.Other_Ded3 as Amount
INTO #Ded3
FROM dbo.dtaPayrollProcess p
         left outer join dbo.dtaemployees e
            left outer join dbo.dtacodetables c
            on e.job_position_code = c.code and c.code_category='Job_Position'
         on p.employee_pin = e.employee_pin
WHERE Period1 = @D2 and
   ISNUMERIC(SUBSTRING(Other_Ded_Desc3,1,3))>0

--------------------------------------------------------------
SELECT
   p.period1,p.empLoc AS [emp_loc],p.employeeName AS [employee_name],p.project AS [primary_task_id],
   isnull(p.positionCode,'') as job_position_code,
   isnull(c.hierarchy,'') as hierarchy,e.employee_pin,
   'Deduction After Tax      ' as Adjustment,
   SUBSTRING(p.Other_Ded_Desc4,1,3) as Code,
   p.Other_Ded_Desc4 as Description,
   p.Other_Ded4 as Amount
INTO #Ded4
FROM dbo.dtaPayrollProcess p
         left outer join dbo.dtaemployees e
            left outer join dbo.dtacodetables c
            on e.job_position_code = c.code and c.code_category='Job_Position'
         on p.employee_pin = e.employee_pin
WHERE Period1 = @D2 and
   ISNUMERIC(SUBSTRING(Other_Ded_Desc4,1,3))>0

--------------------------------------------------------------
SELECT
   p.period1,p.empLoc AS [emp_loc],p.employeeName AS [employee_name],p.project AS [primary_task_id],
   isnull(p.positionCode,'') as job_position_code,
   isnull(c.hierarchy,'') as hierarchy,e.employee_pin,
   'Deduction After Tax      ' as Adjustment,
   SUBSTRING(p.Other_Ded_Desc5,1,3) as Code,
   p.Other_Ded_Desc5 as Description,
   p.Other_Ded5 as Amount
INTO #Ded5
FROM dbo.dtaPayrollProcess p
         left outer join dbo.dtaemployees e
            left outer join dbo.dtacodetables c
            on e.job_position_code = c.code and c.code_category='Job_Position'
         on p.employee_pin = e.employee_pin
WHERE Period1 = @D2 and
   ISNUMERIC(SUBSTRING(Other_Ded_Desc5,1,3))>0

--------------------------------------------------------------
--if exists (select * from dbo.sysobjects where id = object_id(N'xPayRep1_Adj'))
--drop table dbo.xPayRep1_Adj
truncate table dbo.xPayRep1_Adj

--SELECT *   INTO dbo.xPayRep1_Adj FROM #Earn1

INSERT INTO dbo.xPayRep1_Adj SELECT * FROM #Earn1
INSERT INTO dbo.xPayRep1_Adj SELECT * FROM #Earn2
INSERT INTO dbo.xPayRep1_Adj SELECT * FROM #Earn3
INSERT INTO dbo.xPayRep1_Adj SELECT * FROM #Earn4
INSERT INTO dbo.xPayRep1_Adj SELECT * FROM #Earn5
INSERT INTO dbo.xPayRep1_Adj SELECT * FROM #Ded1
INSERT INTO dbo.xPayRep1_Adj SELECT * FROM #Ded2
INSERT INTO dbo.xPayRep1_Adj SELECT * FROM #Ded3
INSERT INTO dbo.xPayRep1_Adj SELECT * FROM #Ded4
INSERT INTO dbo.xPayRep1_Adj SELECT * FROM #Ded5

DROP TABLE #Earn1
DROP TABLE #Earn2
DROP TABLE #Earn3
DROP TABLE #Earn4
DROP TABLE #Earn5
DROP TABLE #Ded1
DROP TABLE #Ded2
DROP TABLE #Ded3
DROP TABLE #Ded4
DROP TABLE #Ded5

--SELECT * FROM xPayRep1_Adj

-- End --

END


