/****** Object:  StoredProcedure [dbo].[spTIME_EXTRACT]    Script Date: 04/05/2019 9:38:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[spTIME_EXTRACT]
	@D1 AS DATETIME,
	@D2 AS DATETIME
AS

BEGIN

/*DECLARE @D1 AS DATETIME
DECLARE @D2 AS DATETIME
SET @D1 = '7/16/2006 12:00:00 AM'
SET @D2 = '7/31/2006 11:59:59 PM'
*/

--DELETE DATA FROM TABLE dtaTime_Summary
DELETE FROM dtaTime_Summary WHERE ACTUAL_IN BETWEEN @D1 AND @D2 
--AND (Employee_PIN IN (744))


-- START HERE CREATE TEMP TABLE TO INSERT THE REAL DATA
SELECT EMPLOYEE_PIN, ACTUAL_IN, ACTUAL_OUT, CAST(TIME_INTERVAL AS REAL) AS TIME_INTERVAL, TASK_ID AS [TASK_ID],  CONVERT(CHAR(30),'') AS [MYOT]
INTO #TABLE1 FROM dtaTime_Detail WHERE EMPLOYEE_PIN = 0

-- START HERE CREATE CURSOR TABLE
DECLARE TIME_DETAIL CURSOR FOR
SELECT Time_ID, Employee_PIN, ACTUAL_IN, ACTUAL_OUT, TASK_ID AS [TASK_ID], REGULAR_HOURS, OT --CONVERT(decimal(10, 2), DATEDIFF(n, Actual_In, Actual_Out)) / 60  AS MYOT
FROM dtaTime_Detail
WHERE ACTUAL_IN BETWEEN @D1 AND @D2 AND ISNULL(REMARKS,'') not in ('NO SCHED')  
AND ISNULL(IsDeleted,0) = 0
--WHERE ACTUAL_IN BETWEEN @D1 AND @D2 AND ISNULL(REMARKS,'') not in ('INVALID','NO SCHED')  
-- modified as April 7, 2006
-- AND employee_pin <> 101
-- AND employee_pin = 1211

--AND (Employee_PIN IN (208))
ORDER BY EMPLOYEE_PIN, dtaTime_Detail.ACTUAL_IN
--SELECT * FROM  #TABLE1
--DROP TABLE #TABLE1

-- START HERE OPEN AND LOOP THE CURSOR
-- current data
DECLARE @EMPLOYEE_PIN AS NVARCHAR(50)
DECLARE @ACTUAL_IN AS datetime
DECLARE @ACTUAL_OUT AS datetime
DECLARE @TASK_ID AS NVARCHAR(50)
DECLARE @MYOT AS NVARCHAR(50)
DECLARE @OT1 AS NVARCHAR(50)

-- save to temp 
DECLARE @tEMPLOYEE_PIN AS NVARCHAR(50)
DECLARE @tACTUAL_IN AS datetime
DECLARE @tACTUAL_OUT AS datetime
DECLARE @tTASK_ID AS NVARCHAR(50)
DECLARE @tDIFFMIN AS NVARCHAR(50)
DECLARE @tMYOT AS NVARCHAR(50)

-- save to mem
DECLARE @mEMPLOYEE_PIN AS NVARCHAR(50)
DECLARE @mACTUAL_IN AS datetime
DECLARE @mACTUAL_OUT AS datetime
DECLARE @mTASK_ID AS NVARCHAR(50)
DECLARE @mMYOT AS NVARCHAR(50)
DECLARE @mOT AS NVARCHAR(50)

DECLARE @mISLESS AS NVARCHAR(50)
SET @mISLESS = 'FALSE'

DECLARE @TIMEID AS BIGINT
DECLARE @mTIMEID AS BIGINT


OPEN TIME_DETAIL
FETCH NEXT FROM TIME_DETAIL INTO @mTIMEID, @mEMPLOYEE_PIN, @mACTUAL_IN, @mACTUAL_OUT, @mTASK_ID, @mMYOT, @mOT
WHILE @@FETCH_STATUS = 0
BEGIN
	FETCH NEXT FROM TIME_DETAIL INTO @TIMEID, @EMPLOYEE_PIN, @ACTUAL_IN, @ACTUAL_OUT, @TASK_ID, @MYOT, @OT1

--	PRINT '---'
--	PRINT 'memory - previous record'
--	PRINT @mACTUAL_IN
--	PRINT @mACTUAL_OUT

--	PRINT '---'
--	PRINT 'current record'
--	PRINT @ACTUAL_IN
--	PRINT @ACTUAL_OUT	

	IF @mEMPLOYEE_PIN = @EMPLOYEE_PIN
	    BEGIN
		SET @tDIFFMIN =  DATEDIFF(n, CAST(@mACTUAL_OUT  AS DATETIME) , CAST(@ACTUAL_IN AS DATETIME)) 	
		
		IF CAST(ISNULL(@tDIFFMIN,0) AS REAL) <= 240
		    BEGIN

				UPDATE dtaTime_Detail SET DateIn = @mTIMEID WHERE time_ID IN (@TIMEID, @mTIMEID)

				SET @mACTUAL_OUT = @ACTUAL_OUT
				SET @mMYOT = CAST(@mMYOT AS REAL) + CAST(@MYOT AS REAL) + CAST(@mOT AS REAL) + CAST(@OT1 AS REAL)
		    END
		ELSE
		    BEGIN
			--SET @mMYOT = CAST(@mMYOT AS REAL) + CAST(@mOT AS REAL)
			
			UPDATE dtaTime_Detail SET DateIn = @mTIMEID WHERE time_ID IN (@TIMEID, @mTIMEID)

			--SET @mMYOT = @mMYOT - 1.0
			INSERT INTO #TABLE1 (EMPLOYEE_PIN, ACTUAL_IN, ACTUAL_OUT, TIME_INTERVAL, TASK_ID, MYOT)
		  	  --VALUES(@mEMPLOYEE_PIN, @mACTUAL_IN, @mACTUAL_OUT, CONVERT(DECIMAL(10,2), CAST(DATEDIFF(n, @mACTUAL_IN, @mACTUAL_OUT) AS REAL) / 60), @mTASK_ID, CONVERT(DECIMAL(10,2), @mMYOT))
		  	  VALUES(@mEMPLOYEE_PIN, @mACTUAL_IN, @mACTUAL_OUT, CONVERT(DECIMAL(10,2), @mMYOT), @mTASK_ID, CONVERT(DECIMAL(10,2), @mMYOT))
			
--			PRINT '---'
--			PRINT 'write to database 1'
--			PRINT @mACTUAL_IN
--			PRINT @mACTUAL_OUT

			SET @mEMPLOYEE_PIN = @EMPLOYEE_PIN
			SET @mACTUAL_IN = @ACTUAL_IN
			SET @mACTUAL_OUT = @ACTUAL_OUT
			SET @mTASK_ID = @TASK_ID
			SET @mMYOT = CAST(@MYOT AS REAL) + CAST(@OT1 AS REAL)

			SET @mTIMEID = @TIMEID
		    END
	    END
	ELSE
	    BEGIN
			--SET @mMYOT = CAST(@mMYOT AS REAL) + CAST(@mOT AS REAL) + CAST(@mOT AS REAL) + CAST(@OT1 AS REAL)

			UPDATE dtaTime_Detail SET DateIn = @mTIMEID WHERE time_ID IN (@TIMEID, @mTIMEID)

			--SET @mMYOT = @mMYOT - 1.0
			INSERT INTO #TABLE1 (EMPLOYEE_PIN, ACTUAL_IN, ACTUAL_OUT, TIME_INTERVAL, TASK_ID, MYOT)
			  VALUES(@mEMPLOYEE_PIN, @mACTUAL_IN, @mACTUAL_OUT, CONVERT(DECIMAL(10,2), @mMYOT), @mTASK_ID, CONVERT(DECIMAL(10,2), @mMYOT))

	--		PRINT '---'
	--		PRINT 'write to database 2'
	--		PRINT @mACTUAL_IN
	--		PRINT @mACTUAL_OUT

			SET @mEMPLOYEE_PIN = @EMPLOYEE_PIN
			SET @mACTUAL_IN = @ACTUAL_IN
			SET @mACTUAL_OUT = @ACTUAL_OUT
			SET @mTASK_ID = @TASK_ID
			SET  @mMYOT = CAST(@MYOT AS REAL) + CAST(@OT1 AS REAL)

			SET @mTIMEID = @TIMEID
		END


END
SET @mMYOT = CAST(@mMYOT AS REAL) - CAST(@MYOT AS REAL)

UPDATE dtaTime_Detail SET DateIn = @mTIMEID WHERE time_ID IN (@TIMEID, @mTIMEID)

--SET @mMYOT = @mMYOT - 1.0
INSERT INTO #TABLE1 (EMPLOYEE_PIN, ACTUAL_IN, ACTUAL_OUT, TIME_INTERVAL, TASK_ID, MYOT)
	VALUES(@mEMPLOYEE_PIN, @mACTUAL_IN, @mACTUAL_OUT, CONVERT(DECIMAL(10,2), @mMYOT), @mTASK_ID, CONVERT(DECIMAL(10,2), @mMYOT))



SELECT * FROM #TABLE1 ORDER BY EMPLOYEE_PIN, ACTUAL_IN
-- START HERE CLOSE ALL TABLE CURSOR
--DROP TABLE #TABLE1
CLOSE TIME_DETAIL
DEALLOCATE TIME_DETAIL

--DROP TABLE #TABLE1






DECLARE TIME_DETAIL CURSOR FOR
SELECT 
	RTRIM(tb.EMPLOYEE_PIN) AS EMPLOYEE_PIN,
	RTRIM(CONVERT(CHAR(30), CAST(tb.ACTUAL_IN AS DATETIME), 101)) AS WORK_DATE,
	RTRIM(tb.ACTUAL_IN) AS ACTUAL_IN, 
	RTRIM(tb.ACTUAL_OUT) AS ACTUAL_OUT,
	CONVERT(DECIMAL(10,2), tb.TIME_INTERVAL) AS TIME_INTERVAL,
	RTRIM(tb.TASK_ID) AS TASK_ID,
	RTRIM(tb.MYOT) AS MYOT,
	RTRIM(dEMP.EMPLOYEE_NAME) AS EMPLOYEE_NAME,
	RTRIM(dTD.BRANCH_CODE) AS BRANCH_CODE

FROM #TABLE1 TB
	LEFT OUTER JOIN  dtaEmployees dEMP
	ON tb.EMPLOYEE_PIN = dEMP.EMPLOYEE_PIN 
	
	LEFT OUTER JOIN  ( SELECT DISTINCT EMPLOYEE_PIN, BRANCH_CODE, CONVERT(char(20), Actual_In, 100) AS ACTUAL_IN FROM dtaTime_Detail WHERE ACTUAL_IN BETWEEN @D1 AND @D2 AND ISNULL(REMARKS,'') <> 'INVALID' AND ISNULL(IsDeleted,0) = 0 ) dTD
	ON dTD.EMPLOYEE_PIN = TB.EMPLOYEE_PIN and dTD.ACTUAL_IN = TB.ACTUAL_IN 
WHERE ISNULL(tb.ACTUAL_IN,'') <> ''
ORDER BY tb.EMPLOYEE_PIN, tb.ACTUAL_IN




-- START HERE CLOSE ALL TEMP TABLE
--DROP TABLE #TABLE1






DECLARE @WORK_DATE AS NVARCHAR(50)
DECLARE @OT AS NVARCHAR(50)
DECLARE @REMARKS AS NVARCHAR(50)
DECLARE @AUTHORIZEOT AS NVARCHAR(50)
DECLARE @REG_HOURS AS NVARCHAR(50)
DECLARE @TARDINESS AS NVARCHAR(50)
DECLARE @BRANCH_CODE AS NVARCHAR(50)
DECLARE @EMPLOYEE_NAME AS NVARCHAR(50)
DECLARE @DAYSWORK AS NVARCHAR(50)

DECLARE @TIME_INTERVAL AS NVARCHAR(50)

DECLARE @tFOR_REMARKS AS NVARCHAR(50)
SET @tFOR_REMARKS = NULL

SET @WORK_DATE = NULL
SET @EMPLOYEE_PIN = NULL
SET @OT = 0 
SET @REMARKS = NULL
SET @AUTHORIZEOT = 'Yes'
SET @DAYSWORK = 1
SET @REG_HOURS = 0
SET @TARDINESS = NULL
SET @ACTUAL_IN = NULL
SET @ACTUAL_OUT = NULL
SET @BRANCH_CODE = NULL
SET @EMPLOYEE_NAME = NULL
SET @TASK_ID = NULL


OPEN TIME_DETAIL
FETCH NEXT FROM TIME_DETAIL INTO @EMPLOYEE_PIN, @WORK_DATE, @ACTUAL_IN, @ACTUAL_OUT, @TIME_INTERVAL, @TASK_ID, @OT, @EMPLOYEE_NAME, @BRANCH_CODE
WHILE @@FETCH_STATUS = 0
BEGIN
	--with out schedule in table dtaKeyerSchedule 
	--IF ISNULL(@ACTUAL_IN,'') = ''
	--    BEGIN
	--	INSERT INTO dtaTime_Summary (Work_Date, Employee_PIN, OT, Remarks, AuthorizeOT, Regular_Hours, Tardiness, Actual_In, Actual_Out, Branch_Code, Employee_Name, Task_ID, Days_Work)
	--	  VALUES (@WORK_DATE, @EMPLOYEE_PIN, 0, 'CHECK SCHED', NULL, 0, 0, @ACTUAL_IN, @ACTUAL_OUT, @BRANCH_CODE, @EMPLOYEE_NAME, @TASK_ID, @DAYSWORK)
	--    END

	--with schedule in table dtaKeyerSchedule 
	IF ISNULL(@ACTUAL_IN,'') <> ''
	    BEGIN
		--SET @OT = CAST(DATEDIFF(n, CAST(@ACTUAL_IN AS DATETIME), CAST(@ACTUAL_OUT AS DATETIME)) AS REAL) / 60
		SET @REG_HOURS = @TIME_INTERVAL --CAST(DATEDIFF(n, @ACTUAL_IN, @ACTUAL_OUT) AS REAL) / 60
		--SET @REG_HOURS = CAST(@TIME_INTERVAL AS REAL) - 1.0
		SET @tFOR_REMARKS = NULL
		
		IF CAST(@OT AS REAL) >= 8  BEGIN SET @OT = CAST(@OT AS REAL) - 8 END ELSE BEGIN SET @OT = 0 END
		--IF 1 > CAST(@TIME_INTERVAL AS REAL) BEGIN SET @REMARKS = 'INVALID' END ELSE BEGIN SET @REMARKS = 'NULL   ' END
		-- removed as of april 7, 2006
		IF CAST(@tFOR_REMARKS AS REAL) >= 1 BEGIN SET @REMARKS = 'CHECK SCHED' END ELSE BEGIN SET @REMARKS = 'NULL   ' END
		SET @AUTHORIZEOT = 'Yes'
		IF CAST(@REG_HOURS AS REAL) >= 8 
		BEGIN 
			SET @OT = CAST(@REG_HOURS AS REAL) - 8.0
			SET @REG_HOURS = 8 
		END
		ELSE
		BEGIN
			SET @OT = 0
		END
		SET @TARDINESS = NULL

	    END	

	INSERT INTO dtaTime_Summary (Work_Date, Employee_PIN, OT, Remarks, AuthorizeOT, Regular_Hours, Tardiness, Actual_In, Actual_Out, Branch_Code, Employee_Name, Task_ID, Days_work)
	  VALUES (@WORK_DATE, @EMPLOYEE_PIN, @OT, @REMARKS, @AUTHORIZEOT, @REG_HOURS, @TARDINESS, @ACTUAL_IN, @ACTUAL_OUT, @BRANCH_CODE, @EMPLOYEE_NAME, @TASK_ID, @DAYSWORK)
	
			
	SET @WORK_DATE = NULL
	SET @EMPLOYEE_PIN = NULL
	SET @OT = 0 
	SET @REMARKS = NULL
	SET @AUTHORIZEOT = 'Yes'
	SET @DAYSWORK = 1
	SET @REG_HOURS = 0
	SET @TARDINESS = NULL
	SET @ACTUAL_IN = NULL
	SET @ACTUAL_OUT = NULL
	SET @BRANCH_CODE = NULL
	SET @EMPLOYEE_NAME = NULL
	SET @TASK_ID = NULL

	FETCH NEXT FROM TIME_DETAIL INTO @EMPLOYEE_PIN, @WORK_DATE, @ACTUAL_IN, @ACTUAL_OUT, @TIME_INTERVAL, @TASK_ID, @OT, @EMPLOYEE_NAME, @BRANCH_CODE
END

	--INSERT INTO dtaTime_Summary (Work_Date, Employee_PIN, OT, Remarks, AuthorizeOT, Regular_Hours, Tardiness, Actual_In, Actual_Out, Branch_Code, Employee_Name, Task_ID, Days_work)
	--  VALUES (@WORK_DATE, @EMPLOYEE_PIN, @OT, @REMARKS, @AUTHORIZEOT, @REG_HOURS, @TARDINESS, @ACTUAL_IN, @ACTUAL_OUT, @BRANCH_CODE, @EMPLOYEE_NAME, @TASK_ID, @DAYSWORK)


-- START HERE CLOSE ALL TABLE CURSOR
CLOSE TIME_DETAIL
DEALLOCATE TIME_DETAIL

-- START HERE CLOSE ALL TEMP TABLE
DROP TABLE #TABLE1


UPDATE dtaTime_Summary SET REMARKS = 'PLEASE CHECK OT' 
WHERE CAST(OT AS REAL) > 5 AND ACTUAL_IN BETWEEN @D1 AND @D2
	AND EMPLOYEE_PIN IN (SELECT EMPLOYEE_PIN FROM DTAEMPLOYEES WHERE RATE_HOUR > 0)


SELECT 
	Time_ID as [Time_ID],
	Work_Date as [Work_Date],
	Employee_PIN as [Employee_PIN],
	case when cast(OT as real) <= 0 then 0 else OT end as [OT],
	Remarks as [Remarks],
	AuthorizeOT as [AuthorizeOT],
	Regular_Hours as [Regular_Hours],
	Tardiness as [Tardiness],
	Actual_In as [Actual_In],
	Actual_Out as [Actual_Out],
	Branch_Code as [Branch_Code],
	Employee_Name as [Employee_Name],
	Task_ID as [Task_ID]
	
FROM dtaTime_Summary 
--WHERE (Employee_PIN IN (208))
--AND Work_Date BETWEEN @D1 AND @D2
ORDER BY Work_Date


END

