/****** Object:  StoredProcedure [dbo].[spDTRHeadcount]    Script Date: 02/05/2021 11:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[spDTRHeadcount]
AS

/*
20210131 Fred : New SP
20210205 Fred : add Late Hours

exec spDTRHeadCount

*/

BEGIN

	declare @workDate nvarchar(30)
	declare @projectCode nvarchar(50)

	create table #tempData (
		ProjectCode nvarchar(30),
		ProjectName nvarchar(100),
		ProjectHeadCount int,
		ProjectPresentCount int,
		ProjectAbsentCount int,
		ProjectLateCount int,
		ProjectLateHours decimal(8,2) 
	)

	set @workDate = (select top 1 work_date from dtatime_summary order by actual_in desc)

	-- print @workDate

	declare @iProjectHeadCount int
	declare @iPresentCount int
	declare @iAbsentCount int
	declare @iLateCount int

	declare @dLateHours decimal(8,2)

	set @iProjectHeadCount = 0
	set @iPresentCount= 0
	set @iAbsentCount = 0
	set @iLateCount = 0

	set @dLateHours = 0

	-- get all clocking for latest date
	select work_date, actual_in, actual_out, tardiness, days_work, task_id into #tempSummary from dtatime_summary where work_date = @workDate

	-- get all employees
	select employee_pin, employee_name, primary_task_id into #tempEmployees from dtaemployees where emp_status='ACTIVE' and ProcessIncluded = 1

	-- get all primary task id
	select primary_task_id into #tempProjects from dtaemployees where emp_status='ACTIVE' and ProcessIncluded = 1 group by primary_task_id

	declare cur_projects cursor for (select primary_task_id from #tempProjects)
	open cur_projects
	fetch next from cur_projects into @projectCode
	while @@fetch_status = 0
	begin

		set @iProjectHeadCount = (select count(1) from #tempEmployees where	primary_task_id = @projectCode)
		set @iPresentCount = (select count(1) from #tempSummary where days_work > 0 and task_id = @projectCode)
		set @iAbsentCount = @iProjectHeadCount - @iPresentCount
		set @iLateCount = (select count(1) from #tempSummary where tardiness > 0 and task_id = @projectCode)

		set @dLateHours = (select isnull(sum(tardiness),0) from #tempSummary where task_id = @projectCode)

		insert into #tempData values (@projectCode, @projectCode, @iProjectHeadCount, @iPresentCount, @iAbsentCount, @iLateCount, @dLateHours)

		fetch next from cur_projects into @projectCode
	end
	close cur_projects
	deallocate cur_projects

	
	select a.*, b.Description from #tempData a left join dtaCodeTables b on a.ProjectCode = b.Code COLLATE DATABASE_DEFAULT where b.Code_Category = 'Primary_Task_ID' order by a.ProjectCode
	--select * from #tempData


	drop table #tempEmployees
	drop table #tempProjects
	drop table #tempSummary
	drop table #tempData

END
