/****** Object:  StoredProcedure [dbo].[spPaySlip]    Script Date: 01/24/2021 9:41:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[spPaySlip]
	@D1 AS DATETIME
--	@D2 AS DATETIME
AS

/*
DECLARE @D1 AS DATETIME
DECLARE @D2 AS DATETIME

SET @D1 = '12/16/2005'
SET @D2 = '12/31/2005'
*/

BEGIN


DELETE FROM dtaTemp

INSERT INTO dtaTemp
SELECT 
pp.Period1, pp.Period2, e.Employee_Name, e.Job_Position_Code, pp.Employee_PIN, pp.Rate_Month1, pp.Rate_Day1, pp.Days_Absent1,
pp.Basic_Pay1, pp.Holiday_Pay1, pp.Rate_Hr2, pp.Hrs_Work2, pp.Reg_Hrs2, pp.Basic_Pay2, pp.OT_Hrs2, pp.OT_Pay2, pp.Days_Work2, pp.COLA2, pp.Day_Off_Hrs2,
pp.Day_Off_Pay2, pp.Night_Diff_Hrs2, pp.Night_Diff_Pay2, pp.Bonus_Pay2, pp.Holiday_Pay2, 
pp.SLA_5, pp.SLA_10, pp.Other_Earn1, pp.Other_Earn2,
pp.Other_Earn3, pp.Other_Earn4, pp.Other_Earn5, pp.Other_Earn_Desc1, pp.Other_Earn_Desc2,  pp.Other_Earn_Desc3, pp.Other_Earn_Desc4,
pp.Other_Earn_Desc5, pp.Gross_Pay, pp.With_Tax, pp.SSS_EE, pp.SSS_ER, pp.Philhealth_EE, pp.Philhealth_ER, pp.ECC_ER, pp.Pagibig_EE,
pp.Pagibig_ER, pp.Other_Ded1, pp.Other_Ded2, pp.Other_Ded3, pp.Other_Ded4, pp.Other_Ded5, pp.Other_Ded_Desc1, pp.Other_Ded_Desc2,
pp.Other_Ded_Desc3, pp.Other_Ded_Desc4, pp.Other_Ded_Desc5, pp.Total_Ded, pp.Net_Pay, e.Primary_Task_ID, e.Tax_Code, e.Emp_Loc, pp.ot_holiday, pp.nd_holiday, pp.ot_holiday_hrs,
pp.nd_holiday_hrs, pp.ot_dayoff_hrs, pp.nd_dayoff_hrs, pp.ot_dayoff, pp.nd_dayoff, pp.holiday_hrs, c.description, pp.MPF_EE, pp.MPF_ER
FROM dtapayrollprocess pp LEFT OUTER JOIN dtaEmployees e on
	pp.Employee_pin = e.Employee_pin LEFT OUTER JOIN dtaCodeTables c ON
	e.primary_task_id = c.code
WHERE PERIOD1 = @D1-- AND PERIOD2 = @D2 


INSERT INTO dtaTemp
SELECT 
pp.Period1, pp.Period2, e.Employee_Name, e.Job_Position_Code, pp.Employee_PIN, pp.Rate_Month1, pp.Rate_Day1, pp.Days_Absent1,
pp.Basic_Pay1, pp.Holiday_Pay1, pp.Rate_Hr2, pp.Hrs_Work2, pp.Reg_Hrs2, pp.Basic_Pay2, pp.OT_Hrs2, pp.OT_Pay2, pp.Days_Work2, pp.COLA2, pp.Day_Off_Hrs2,
pp.Day_Off_Pay2, pp.Night_Diff_Hrs2, pp.Night_Diff_Pay2, pp.Bonus_Pay2, pp.Holiday_Pay2, 
pp.SLA_5, pp.SLA_10, pp.Other_Earn1, pp.Other_Earn2,
pp.Other_Earn3, pp.Other_Earn4, pp.Other_Earn5, pp.Other_Earn_Desc1, pp.Other_Earn_Desc2,  pp.Other_Earn_Desc3, pp.Other_Earn_Desc4,
pp.Other_Earn_Desc5, pp.Gross_Pay, pp.With_Tax, pp.SSS_EE, pp.SSS_ER, pp.Philhealth_EE, pp.Philhealth_ER, pp.ECC_ER, pp.Pagibig_EE,
pp.Pagibig_ER, pp.Other_Ded1, pp.Other_Ded2, pp.Other_Ded3, pp.Other_Ded4, pp.Other_Ded5, pp.Other_Ded_Desc1, pp.Other_Ded_Desc2,
pp.Other_Ded_Desc3, pp.Other_Ded_Desc4, pp.Other_Ded_Desc5, pp.Total_Ded, pp.Net_Pay, e.Primary_Task_ID, e.Tax_Code, e.Emp_Loc, pp.ot_holiday, pp.nd_holiday, pp.ot_holiday_hrs,
pp.nd_holiday_hrs, pp.ot_dayoff_hrs, pp.nd_dayoff_hrs, pp.ot_dayoff, pp.nd_dayoff, pp.holiday_hrs, c.description, pp.MPF_EE, pp.MPF_ER
FROM dtapayrollprocess pp LEFT OUTER JOIN dtaEmployees e on
	pp.Employee_pin = e.Employee_pin LEFT OUTER JOIN dtaCodeTables c ON
	e.primary_task_id = c.code
WHERE PERIOD1 = @D1-- AND PERIOD2 = @D2 

SELECT * FROM dtaTemp ORDER BY EMPLOYEE_PIN

END
