/****** Object:  Table [dbo].[dtaBonusesTable]    Script Date: 07/28/2017 10:36:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dtaBonusesTable](
	[BonusId] [int] IDENTITY(1,1) NOT NULL,
	[BonusType] [nvarchar](50) NULL CONSTRAINT [DF_dtaBonusesTable_BonusType]  DEFAULT (''),
	[DaysAbsent] [smallint] NULL CONSTRAINT [DF_dtaBonusesTable_DaysAbsent]  DEFAULT ((0)),
	[BonusAmount] [money] NULL CONSTRAINT [DF_dtaBonusesTable_BonusAmount]  DEFAULT ((0)),
	[Deleted] [bit] NULL CONSTRAINT [DF_dtaBonusesTable_Deleted]  DEFAULT ((0)),
 CONSTRAINT [PK_dtaBonusesTable] PRIMARY KEY CLUSTERED 
(
	[BonusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[dtaBonusesTable] ON 

GO
INSERT [dbo].[dtaBonusesTable] ([BonusId], [BonusType], [DaysAbsent], [BonusAmount], [Deleted]) VALUES (1, N'ATTENDANCE', 0, 200.0000, 0)
GO
INSERT [dbo].[dtaBonusesTable] ([BonusId], [BonusType], [DaysAbsent], [BonusAmount], [Deleted]) VALUES (2, N'ATTENDANCE', 1, 100.0000, 0)
GO
INSERT [dbo].[dtaBonusesTable] ([BonusId], [BonusType], [DaysAbsent], [BonusAmount], [Deleted]) VALUES (3, N'ATTENDANCE', 2, 50.0000, 0)
GO
SET IDENTITY_INSERT [dbo].[dtaBonusesTable] OFF
GO
